* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Roboto Slab', serif;
scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(17, 8, 8);
    position: fixed;
    width: 100%;
    z-index: 1;
}
#time {
    text-align: center;
    color: #eee;
}
@media screen and (max-width: 767px) {
header {
       justify-content: flex-end;
      }
}
.material-symbols-outlined {
    font-size: 50px;
    cursor: pointer;
    color: #eee;
    padding: 15px;
}
@media screen and (max-width: 992px) {
    .material-symbols-outlined{
       font-size: 20px;
       padding: 10px;
      }
}
@media screen and (max-width: 768px) {
    .material-symbols-outlined{
       font-size: 40px;
       padding: 10px;
      }
}
@media screen and (max-width: 767px) {
    .material-symbols-outlined{
       font-size: 30px;
       padding: 5px;
      }
}
.material-symbols-outlined:hover {
    color: blue;
}
body {
    display: flex;
    flex-direction: column;
}
aside {
    background-color: #000;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    transition: .3s ease;
    padding-top: 50px;
    width: 50%;
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 1;
}
@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  
@media screen and (max-width: 767px) {
aside {
    padding-top: 5px;
      }
}
aside .dd {
    color: #eee;
    text-align: end;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    aside .dd {
        padding-top: 0px;
          }
    }
@media screen and (max-width: 767px) {
 .sidebar li a {
      font-size: 10px;
      }
    }
.icons {
    font-size: 30px;
    margin-left: 25px;
}
@media screen and (max-width: 767px) {
    .icons {
        font-size: 10px;
        padding-top: 120px;
          }
    }
.sidebar a:hover {
    transform: translateY(9px);
    transition: 0.7s;
}
.icons a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .icons a {
       padding: 7px
          }
    }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
.dd:hover {
    color: blue;
}
.page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(99, 0, 0);
    /* -webkit-animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
.imgwhatsapp {
    width: 15%;
    height: 100%;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.page1 h1 {
    font-size: 50px;
    color: #eee;
    margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
    .page1 h1{
       font-size: 30px;
      }
}
@media screen and (max-width: 768px) {
    .page1 h1{
       font-size: 30px;
      }
}
@media screen and (max-width: 767px) {
    .page1 h1{
       font-size: 20px;
      }
}
.page1 p {
    font-size: 30px;
    color: #eee;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .page1 p {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
      }
}
@media screen and (max-width: 767px) {
    .page1 p {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
      }
}

.phone1 {
    max-width: 100%;
    width: 50%;
    align-self: center;
    
}
.page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(175, 103, 103, 0.952);
    /* -webkit-animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.page2 h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #000;
    font-size: 50px;
    
}

@media screen and (max-width: 767px) {
    .page2 h1 {
        padding-top: 10px;
    padding-bottom: 7px;
    color: #000;
    font-size: 15px;
      }
}

.page2 p {
    padding-bottom: 50px;
    font-size: 25px;
}
@media screen and (max-width: 767px) {
    .page2 p {
        padding-bottom: 8px;
        font-size: 10px;
      }
}

.page2 a {
    text-decoration: none;
    color: rgb(134, 8, 8);
}
.phone2 {
    max-width: 100%;
    width: 50%;
    align-self: center;
}
.page3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(156, 86, 86, 0.952); */
}

  
.circle {
    height: 200px;
    width: 200px;
    background-color: rgb(134, 8, 8);
    border-radius: 50%;
    align-self: center;
    margin-top: 80px;
    margin-bottom: 50px;
    padding-top: 85px;
}
@media screen and (max-width: 767px) {
   .circle {
        margin-top: 24px;
        margin-bottom: 17px;
      }
}

/* .circle h2 {
    
} */
.page3 .p {
    font-family: monospace;
    color: rgb(43, 43, 43);
    font-size: 30px;
}
@media screen and (max-width: 767px) {
    .page3 .p {
        font-family: monospace;
    color: rgb(43, 43, 43);
    font-size: 15px;
      }
}

.page3 h2 {
    font-size: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .page3 h2 {
        font-size: 20px;
        padding-bottom: 11px;
      }
}

.page3 .p2 {
    font-size: 25px;
    padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
    .page3 .p2 {
        font-size: 10px;
        padding-bottom: 25px;
      }
}

button {
    padding: 20px;
    width: 25%;
    background-color: transparent;
    border: solid;
    align-self: center;
    margin-bottom: 30px;
    -webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
@media screen and (max-width: 767px) {
    button {
        padding: 15px;
        width: 142px;
        font-size: 10px;
      }
}

.page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(99, 0, 0);
}
@media screen and (max-width: 767px) {
    .lines {
        font-size: 10px;
      }
}
.line1 {
    width: 50%;
    text-align: center;
}
.line2 {
    width: 50%;
    text-align: center;
}
.lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
li {
    padding: 20px;
    list-style: none;
}
@media screen and (max-width: 767px) {
    li {
        padding: 8px;
        list-style: none;
      }
}

li a {
    color: #eee;
    text-decoration: none;
}
footer {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ll {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
    .ll {
        font-size: 10px;
      }
}
footer p {
    color: #eee;
    
}
span {
    color: #eee;
}
span .material-symbols-outlined {
    font-size: 15px;
}
.lastimg {
    width: 10%;
    align-self: flex-start;
}
